<% if @user.errors.any? %>
  <%= @user.errors.count %>prohibited this product from being saved:
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<h2>プロフィール編集</h2>
<%= form_with model:@user, local:true do |f| %>
  <label for="inputName">Name</label>
  <%= f.text_field :name, autofocus: true %>

  <label for="inputImage">ProfileImage</label>
  <%= f.attachment_field :profile_image %>

  <label for="inputIntroduction">Introduction</label>
  <%= f.text_area :introduction, autofocus: true %>

  <%= f.submit "Update User" %>
<% end %>